body{
  background-color: darkgray;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand > img {
  max-height: 32px;
  padding-right: 15px;
}
.navbar-brand{
  font-size: 15px;
}

.dropdown-menu.show > .dropdown-item img {
  max-height: 32px;
  padding-right: 0.5em;
  margin: -0.5em 0;
}

.card-body , .navbar-brand {
  padding: 0px !important;
}

.navbar {

z-index: 99;
}

.pnlm-controls-container {
  top:56px !important;
}

.navbar-info-icon {
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 10.9794C11 10.4271 11.4477 9.97937 12 9.97937C12.5523 9.97937 13 10.4271 13 10.9794V16.9794C13 17.5317 12.5523 17.9794 12 17.9794C11.4477 17.9794 11 17.5317 11 16.9794V10.9794Z' fill='currentColor' /%3E%3Cpath d='M12 6.05115C11.4477 6.05115 11 6.49886 11 7.05115C11 7.60343 11.4477 8.05115 12 8.05115C12.5523 8.05115 13 7.60343 13 7.05115C13 6.49886 12.5523 6.05115 12 6.05115Z' fill='currentColor' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z' fill='currentColor' /%3E%3C/svg%3E") !important;
display: inline-block;
width: 1.5em;
height: 1.5em;
margin-top: -0.3em;
vertical-align: middle;
content: "";
background: no-repeat center center;
background-image: none;
background-size: auto;
background-size: 100% 100%;
}
.form-inline button{
  margin-left: 0.3em;
}


.pnlm-container{
  margin-top: -56px !important;
}